# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native build output
android/
ios/

# EAS
.eas/

# Environment
.env
.env.local
.env.production
google-service-account.json
google-services.json
GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
